.signup {
    background-image: url(./undraw_login_re_4vu2.svg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 50%;
    background-position-x: right;
    /* height: 400px; */
}